<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TAMU Disc Golf</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../css/modern-business.css" rel="stylesheet" type="text/css">

</head>

<body>

  <!--Navigation bar-->
  <div id="nav-placeholder"></div>
  <!--end of Navigation bar-->
  {{{body}}}

  <!-- Footer -->
  <footer class="py-5 mt-5 bg-dark">
    <!--Social Media Icons-->
    <div class="media-icon" style="display:block; text-align:center; margin-bottom: 15px;">
      <a href="https://www.facebook.com/" ><img id="fbicon" style="margin-right: 15px;" height="35" width="35" src="images/icons/fbicon.png"></a>
      <a href="https://www.instagram.com/?hl=en"><img id="instaicon" style="margin-right: 15px" height="35" width="35" src="images/icons/instaicon.png"></a>
      <a href="https://twitter.com/?lang=en"><img id="twittericon" height="30" width="30" src="images/icons/twittericon.png"></a>
    </div>
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; TAMU Disc Golf 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- NavBar -->
  <script>
  $(function(){
    $("#nav-placeholder").load("navbar.html");
  });
  </script>

</body>

</html>
