<!DOCTYPE html>
<div class="container">

  <h1 class="mt-4 mb-3">Admin</h1>

  <div>
    <h2>Events</h2>
  </div>

  <div>
    <h2>Officers</h2>
    <p>
        Query with user email to bring up user form
        Modify Title and Role qualities
        Roles must be of the form 'admin', 'officer' or 'member'
    </p>
  </div>

  <div>
    <h2>Competetive Teams</h2>
  </div>

  <div>
    <h2>Gallary</h2>
  </div>
</div>
