<!DOCTYPE html>
<div class="container">


  <h1 class="mt-4 mb-3">Login</h1>

  {{#if messages}}
  {{#if messages.success_msg}}
  <div> {{messages.success_msg}} </div>
  {{/if}}
  {{#if messages.error}}
  <div> {{messages.error}} </div>
  {{/if}}
  {{/if}}

  <form action="/login" method="POST">
    <div class="control-group form-group">
        <input type="text" id="email" name="email" placeholder="Email" required/>
    </div>
    <div class="control-group form-group">
        <input type="password" id="password" name="password" placeholder="Password" required/>
    </div>
    <div class="control-group form-group">
        <input type="submit" value="Login"/>
    </div>
    <a href="/register">New? Register here</a>
  </form>
</div>
