<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!--Navigation bar-->
  <div id="nav-placeholder"></div>
  <!--end of Navigation bar-->

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Officers
      <!-- <small>Subheading</small> -->
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <!-- <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Modern Business</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
      </div>
    </div> -->
    <!-- /.row -->

    <!-- Team Members -->
    <!-- <h2>Our Team</h2> -->
    <!-- Ben Mueck - President
Sam Mueck - Treasurer
Michael “T” Taylor - Team Captain
Scottie Taylor - General Officer 1
Parker Primm - General Officer 2 -->

    <div class="row">
      <div class="col-lg-4 mb-4" >
        <div class="card h-100 text-center">
          <img class="card-img-top" height="250"src=images\officers\officerplaceholder.png>
          <div class="card-body">
            <h4 class="card-title">Ben Mueck</h4>
            <h6 class="card-subtitle mb-2 text-muted">President</h6>
            <p class="card-text">Placeholder : Need Information</p>
          </div>
          <div class="card-footer">
            <a href="#">bmueck@tamu.edu</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" height="250" src=images\officers\officerplaceholder.png alt="">
          <div class="card-body">
            <h4 class="card-title">Sam Mueck</h4>
            <h6 class="card-subtitle mb-2 text-muted">Treasurer</h6>
            <p class="card-text">Placeholder : Need Information</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" height="250" src=images\officers\officerplaceholder.png alt="">
          <div class="card-body">
            <h4 class="card-title">Michael “T” Taylor</h4>
            <h6 class="card-subtitle mb-2 text-muted">Team Captain</h6>
            <p class="card-text">Placeholder : Need Information</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" height="250" src=images\officers\officerplaceholder.png alt="">
          <div class="card-body">
            <h4 class="card-title">Scottie Taylor</h4>
            <h6 class="card-subtitle mb-2 text-muted">General Officer 1</h6>
            <p class="card-text">Placeholder : Need Information</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" height="250" src=images\officers\officerplaceholder.png alt="">
          <div class="card-body">
            <h4 class="card-title">Parker Primm</h4>
            <h6 class="card-subtitle mb-2 text-muted">General Officer 2</h6>
            <p class="card-text">Placeholder : Need Information</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" height="250" src=images\officers\officerplaceholder.png alt="">
          <div class="card-body">
            <h4 class="card-title">Team Member</h4>
            <h6 class="card-subtitle mb-2 text-muted">Position</h6>
            <p class="card-text">Madness is like gravity, all it needs is a little push</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <!-- <h2>Our Customers</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div> -->
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <!--Social Media Icons-->
    <div class="media-icon" style="display:block; text-align:center; margin-bottom: 15px;">
      <a href="https://www.facebook.com/" ><img id="fbicon" style="margin-right: 15px;" height="35" width="35" src="images/icons/fbicon.png"></a>
      <a href="https://www.instagram.com/?hl=en"><img id="instaicon" style="margin-right: 15px" height="35" width="35" src="images/icons/instaicon.png"></a>
      <a href="https://twitter.com/?lang=en"><img id="twittericon" height="30" width="30" src="images/icons/twittericon.png"></a>
    </div>
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- NavBar -->
  <script>
  $(function(){
    $("#nav-placeholder").load("navbar.html");
  });
  </script>

</body>

</html>
